html {
  font-size: 125%;
  font-family: "Barlow", "Helvetica", sans-serif;
  color: $white;
  font-weight: 700;
  margin: 0;
  overflow-x: hidden;
}

// Font Sizes changed from desing with
// Esther's permission
h1 {
  line-height: 5.7rem;
  font-size: 6rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-top: -20px;
}

h2 {
  font-size: 3.7rem;
  line-height: 4.6rem;
  margin: 0;
}

h3 {
  letter-spacing: 1px;
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}
h4 a:hover {
  color: $robinBlue;
}

// navigation
h5 a {
  font-size: 1rem;
  line-height: 1.45;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

h5 a:hover,
h5 a:focus {
  color: $robinBlue;
}

a:visited,
a:link {
  color: $white;
  text-decoration: none;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 0.9rem;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

// button styles
button {
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
}

.findOut {
  background-color: $robinBlue;
  color: $darkBlue;
  padding: 12px 40px;
}

.readMore {
  background-color: $darkBlue;
  color: inherit;
  padding: 12px 30px;
}
.submit {
  background-color: $darkBlue;
  color: $white;
  padding: 5px 0;
}
