.contactMain {
  background-color: $darkBlue;
  padding: 160px 0;

  .wrapper {
    position: relative;
    display: flex;
    gap: 20px;

    .contactInfo {
      .contactIcons {
        display: flex;
        gap: 20px;
      }
      h4 {
        font-size: 1rem;
        padding: 25px 0;
      }
      p {
        margin: 0;
        font-size: 0.8rem;
      }
    }

    .contactSpace {
      background-color: $robinBlue;
      padding-top: 20%;
      width: 75%;
      background-size: cover;
      position: relative;
      .contactFormBg {
        background-color: $robinBlue;
        padding-top: 70%;
        width: 100%;
        background-size: cover;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
