// Contact page styles

.contactTitle {
  font-size: 3.9rem;
  line-height: 4.6rem;
  margin: 0;
  text-align: center;
}
.mainContainer {
  background-color: $darkBlue;
}

.contactMain {
  max-width: 1600px;
  padding: 160px 0;
  position: relative;
  margin: 0 auto;

  .formContainer {
    width: 60%;
    padding-top: 70%;
    padding: 80px 50px 50px 50px;
    background-color: $spruce;
    position: absolute;
    right: 75px;
    top: -195px;

    z-index: 20;
    box-shadow: -1.4rem 1.4rem $robinBlue;
    max-width: 800px;
  }

  .wrapper {
    position: relative;
    display: flex;
    gap: 20px;

    .contactInfo {
      .contactIcons {
        display: flex;
        gap: 20px;
      }
      h4 {
        font-size: 1rem;
        padding: 25px 0;
      }
      p {
        margin: 0;
        font-size: 0.8rem;
      }
    }
  }
}
