// Form styles

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  span {
    display: flex;
    gap: 30px;
    input {
      background-color: transparent;
      width: 50%;
      border: none;
      border-bottom: 1px $robinBlue solid;
      font-family: "Lato";
      padding: 15px;
      color: $white;
    }
  }

  textarea {
    background-color: transparent;
    border: 1px $robinBlue solid;
    margin: 40px 0;
    font-family: "Lato";
    color: $white;
    padding: 15px;
  }
  ::placeholder {
    color: $white;
    padding: 15px;
  }
}
