// Header styles

// Home page header
.headerHome {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../under-the-sea-assets/header-image.jpg);

  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 620px;
  width: 100%;
}

.headerContent {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;

  .wrapper {
    display: flex;
    flex-wrap: wrap;

    .headerTitle {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      h1 span {
        display: block;
      }
    }
  }
}

.headerImgContainer {
  width: 55%;
  display: inline-block;

  .headerImg {
    width: 55%;
    max-width: 700px;
    position: absolute;
    right: 0;
  }
}

// Contact page header

.headerContact {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../under-the-sea-assets/contact-header.jpg);

  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  height: 520px;
  width: 100%;
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

// Blog page header

.headerBlog {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../under-the-sea-assets/blog-header.jpg);

  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 620px;
  height: 80vh;
  width: 100%;
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
}
