// Home page styles

// About section

.about {
  background-color: $darkBlue;
  padding: 170px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 30px 0;
      width: 80%;
      text-align: left;
    }
  }
}

// Info section

.infoTop .wrapper,
.infoBottom .wrapper {
  display: flex;
  height: 300px;
  gap: 100px;
}

.infoTop .wrapper > *,
.infoBottom .wrapper > * {
  width: calc(100% / 2);
}

.info {
  background-color: $spruce;
  display: flex;
  flex-direction: column;

  .infoTop {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    padding: 25px 0;
    min-height: 400px;
    .leftImgContainer {
      width: 50%;
      .leftImg {
        max-width: 450px;
        left: 0;
        top: -40px;
        z-index: 20;
        position: absolute;
        width: 44%;
        box-shadow: 2rem 2rem $robinBlue;
      }
    }
    .infoRightText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .infoBottom {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    padding: 25px 0;
    min-height: 400px;

    .infoLeftText {
      text-align: right;
    }

    .rightImgContainer {
      width: 50%;
      .rightImg {
        max-width: 450px;
        bottom: -40px;
        right: 0;
        z-index: 20;
        position: absolute;
        width: 44%;
        box-shadow: -2rem 2rem $robinBlue;
      }
    }
    .infoLeftText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
  }
}

// Middle Navigation section

.middleNav {
  background-color: $darkBlue;

  .wrapper {
    padding: 140px 0 60px 0;

    span {
      background-color: $robinBlue;
      color: $darkBlue;
      display: inline-block;
      border-radius: 50%;
      margin-right: 30px;
      text-align: center;

      .fa-solid {
        padding: 10px;
        font-size: 1.2rem;
      }
      .icons {
        padding: 10px 13px;
      }
    }
  }
}

.middleNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;

  li {
    width: calc((100% / 2) - 25px);
    display: flex;
    align-items: flex-start;
  }
}

// Profile section

.profile {
  background-color: $darkBlue;
  .bgImg {
    background-image: url(../under-the-sea-assets/banner.jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 40px 0;
    gap: 90px;

    .profileImgContainer {
      width: 30vh;
      position: relative;
      height: 30vh;
      .profileImg {
        display: flex;
        width: 85%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        box-shadow: 2rem 2rem $robinBlue;
      }
    }

    .profileContent {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 70%;
    }
  }
}

// Gallery section

.gallery {
  background-color: $spruce;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 0;
  }
}

// Footer section
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $robinBlue;
  p {
    color: $darkBlue;
    padding: 8px 0;
    margin: 0;
  }
}
