// About

.about {
  background-color: $darkBlue;
  padding: 170px 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 30px 0;
      width: 80%;
      text-align: left;
    }
  }
}

// Info

.info {
  background-color: $spruce;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.infoTop,
.infoBottom {
  position: relative;
  padding: 30px 0;
}

.infoTop .wrapper,
.infoBottom .wrapper {
  display: flex;
  height: 300px;
  gap: 100px;
}

.infoTop .wrapper > *,
.infoBottom .wrapper > * {
  width: calc(100% / 2);
}

.infoLeftText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.infoRightText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.leftImgContainer,
.rightImgContainer {
  width: 50%;
}

.leftImg {
  left: 0;
  bottom: 45px;
  z-index: 20;
  position: absolute;
  width: 43%;
  min-width: 420px;
  box-shadow: 30px 30px $robinBlue;
}

.rightImg {
  top: 45px;
  right: 0;
  z-index: 20;
  position: absolute;
  width: 43%;
  min-width: 420px;
  box-shadow: -30px 30px $robinBlue;
}

// Middle Navigation

.middleNav {
  background-color: $darkBlue;

  .wrapper {
    padding: 80px 0 60px 0;

    span {
      background-color: $robinBlue;
      color: $darkBlue;
      display: inline-block;
      border-radius: 50%;
      margin-right: 30px;
      text-align: center;

      .fa-solid {
        padding: 10px;
        font-size: 1.2rem;
      }
      .icons {
        padding: 10px 13px;
      }
    }
  }
}

.middleNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;

  li {
    width: calc((100% / 2) - 25px);
    display: flex;
    align-items: flex-start;

    div {
    }
  }
}

// Profile

.profile {
  background-color: $darkBlue;
  .bgImg {
    background-image: url(../under-the-sea-assets/banner.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    gap: 40px;

    .profileImgContainer {
      width: 30vh;
      position: relative;
      height: 30vh;
      .profileImg {
        width: 85%;
        height: 85%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
      }
    }
    .profileImgContainer::before {
      content: "";
      background-color: $robinBlue;
      position: absolute;
      width: 85%;
      height: 85%;
      display: block;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
    .profileContent {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 70%;
    }
  }
}

// Gallery

.gallery {
  background-color: $spruce;
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 0;
  }
}

// Footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $robinBlue;
  p {
    color: $darkBlue;
    padding: 8px 0;
    margin: 0;
  }
}
