// Media queries
@media (max-width: 1220px) {
  .contactBreak {
    display: block;
  }
}

// Desktop and laptop screens 940px

@media (max-width: 940px) {
  // Home page

  .middleNav .wrapper {
    padding-top: 300px;
  }

  // Blog page

  // Contact page

  .contactMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    padding: 80px 0;
  }
  .formContainer {
    position: static;
    z-index: 40;
    width: 80%;
    margin-bottom: 60px;
    padding: 60px;
  }
  .contactSpace {
    display: none;
  }

  .contactBreak {
    display: inline;
  }

  form {
    span {
      flex-direction: column;
      input {
        width: 100%;
        padding: 15px 5px;
      }
    }
    textarea {
      margin-top: 70px;
    }
  }
}

/* Tablets and small desktops/laptops 768px */

@media (max-width: 768px) {
  // Home page

  .headerHome {
    .headerImg {
      min-width: 310px;
      bottom: -200px;
    }
  }

  // Blog
  .blogContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    .rightBlogContainer article::before {
      display: none;
    }

    .rightBlogContainer {
      width: 100%;
      margin-top: 30%;

      .rightBlogImg {
        box-shadow: -0.5rem 0.5rem $robinBlue;
        bottom: 10px;
        left: 10px;
      }
    }
    .asideContent {
      width: 100%;
      .asideSpace {
        display: none;
      }
    }
  }
}

/* Tablet 640px */

@media (max-width: 640px) {
  // Home page

  .about .wrapper {
    p {
      width: 100%;
      margin: 30px 0;
    }
  }

  .info {
    gap: 210px;

    .infoTop {
      padding: 80px 0;
      .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .leftImgContainer {
          display: flex;
          justify-content: flex-start;

          .leftImg {
            position: static;
            width: 75%;
            box-shadow: 1rem 1rem $robinBlue;
          }
        }
      }
    }

    .infoBottom .wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .rightImgContainer {
        display: flex;
        justify-content: flex-end;

        .rightImg {
          position: static;
          width: 75%;
          box-shadow: -1rem 1rem $robinBlue;
        }
      }
    }

    .infoTop .wrapper > *,
    .infoBottom .wrapper > * {
      width: 100%;
      justify-content: center;
    }
  }

  .profile .wrapper {
    flex-direction: column;
    padding: 80px 0;
    .profileContent {
      align-items: center;
      gap: 30px;
      width: 100%;
    }
  }

  .middleNav {
    .wrapper {
      padding-top: 140px;
      ul li {
        width: 100%;
      }
    }
  }

  .gallery {
    display: flex;
    .wrapper {
      width: 100%;
      padding: 0;
      gap: 0;
      div:nth-child(3) {
        display: none;
      }

      div {
        width: 100%;
        flex: 1;
      }
    }
  }

  // Contact page

  .headerContact {
    h2 {
      span {
        display: block;
      }
    }
  }
  .formContainer {
    padding: 20px;
  }
}

/* Mobile devices 480px */

@media (max-width: 480px) {
  // Home page

  .headerHome {
    .headerImg {
      bottom: -270px;
    }
  }
  header {
    padding-top: 60px;
    h1 {
      font-size: 5rem;
    }
  }

  .about {
    padding-top: 220px;
  }
  .nav {
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 50;
    background-color: $darkBlue;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    padding: 0 50px;
    transition: all 0.3s;

    .navBarButton {
      display: block;
      margin-top: 60px;
      cursor: pointer;
      font-size: 2.3rem;
      color: $white;
      background: transparent;
      transition: all 0.2s ease-in-out;
      &:hover,
      &:focus {
        color: $robinBlue;
      }
    }
    ul {
      flex-direction: column;
      align-items: flex-end;
      gap: 0;
      font-size: 3rem;
      line-height: 0;
      h5 {
        margin: 0;
        a {
          font-size: 2rem;
        }
      }
    }
  }
  .active {
    right: 0;
  }

  .navHeaderButton {
    display: block;
    margin-left: auto;
    background: transparent;
    padding: 0;
    color: $white;
    font-size: 2.6rem;
    margin-bottom: 60px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover,
    &:focus {
      color: $robinBlue;
    }
  }

  // Blog page

  .blog {
    h3 {
      font-size: 1.4rem;
    }
  }

  .rightBlogImg {
    z-index: 10;
    img {
      z-index: 40;
    }
  }

  .rightBlogContainer {
    article {
      padding: 25px 0 25px 15px;
    }
  }

  .commentsForm {
    padding: 40px 25px 25px 10px;
    .commentsContainer {
      .comments {
        gap: 18px;
      }
    }
  }
  // Contact page

  .contactMain {
    padding: 40px 0;
  }

  textarea {
    height: 150px;
  }

  .formContainer {
    box-shadow: -0.5rem 0.5rem $robinBlue;
  }
}

// Mobile devices 400px
@media (max-width: 400px) {
  .headerHome {
    h1 {
      font-size: 4.3rem;
      line-height: 4.3rem;
    }
  }

  .about {
    padding-top: 130px;
    p {
      margin: 40px 0;
    }
  }
}

/* Mobile devices 320px */

@media (max-width: 320px) {
}
