// Navigation

nav {
  padding: 0 0 55px 0;
}

nav ul {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
  color: white;
}

.navBarButton {
  display: none;
}

.navHeaderButton {
  display: none;
}
