// Variables

// Base Colors
$robinBlue: #86e0f9;
$spruce: #0f614e;
$white: #ffffff;
$darkBlue: #0c1423;

// Hover / Focus Colors
$robinBlueHover: rgba(134, 224, 249, 0.7);
$darkBlueHover: rgba(12, 20, 35, 0.7);
$spruceHover: rgba(15, 97, 78, 0.7);
