html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Barlow", "Helvetica", sans-serif;
}

h1 {
  line-height: 6.3rem;
  font-size: 6.9rem;
  font-family: "Barlow", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  width: 100%;
}

.headerHome {
  background-image: url(../under-the-sea-assets/header-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

.headerContent {
  position: relative;
}

.headerContent .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.headerTitle {
  width: 45%;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.headerTitle h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.headerTitle h1 span {
  display: block;
}

.headerImgContainer {
  width: 55%;
  display: inline-block;
}
.headerImgContainer .headerImg {
  width: 55%;
  position: absolute;
  right: 0;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  padding: 20px 0 90px 0;
}

nav ul {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}

.about {
  background-color: blue;
  padding: 170px 0;
}

.about .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about p {
  margin: 20px 0;
  width: 80%;
}

.info {
  background-color: green;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.infoTop,
.infoBottom {
  position: relative;
}

.infoTop .wrapper,
.infoBottom .wrapper {
  display: flex;
  height: 300px;
  gap: 100px;
}

.infoTop .wrapper > *,
.infoBottom .wrapper > * {
  width: 50%;
}

button {
  display: inline-flex;
}

.infoLeftText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.infoRightText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.leftImgContainer,
.rightImgContainer {
  width: 50%;
  background-color: red;
}

.leftImg {
  left: 0;
  bottom: 30px;
  z-index: 10;
  position: absolute;
  width: 43%;
}

.rightImg {
  top: -30px;
  right: 0;
  z-index: 10;
  position: absolute;
  width: 43%;
}

.middleNav {
  background-color: darkblue;
}

.middleNav .wrapper {
  padding: 40px 0;
}

.middleNav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.middleNav ul li {
  width: calc(50% - 20px);
}

.middleNav ul li p {
  width: 60%;
}

.bgImg {
  background-image: url(../under-the-sea-assets/banner.jpg);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profileImgContainer {
  width: 30%;
  background-color: red;
}

.profileImg {
  width: 40%;
}

.profile {
  background-color: darkblue;
}

.profile .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
}

.profileContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
}

.gallery {
  background-color: green;
}

.gallery .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}/*# sourceMappingURL=styles.css.map */