html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Barlow", "Helvetica", sans-serif;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
}

h1 {
  line-height: 6.3rem;
  font-size: 6.9rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
  margin: 0;
}

h3 {
  letter-spacing: 1px;
  font-size: 2.1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

h4 a:hover {
  color: #86e0f9;
}

h5 a {
  font-size: 1rem;
  line-height: 1.45;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

h5 a:hover,
h5 a:focus {
  color: #86e0f9;
}

a:visited,
a:link {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
}

button {
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
}

.findOut {
  background-color: #86e0f9;
  color: #0c1423;
  padding: 12px 40px;
}

.readMore {
  background-color: #0c1423;
  color: inherit;
  padding: 12px 30px;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
}

.headerHome {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../under-the-sea-assets/header-image.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../under-the-sea-assets/header-image.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerContent {
  position: relative;
}
.headerContent .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.headerContent .wrapper .headerTitle {
  width: 45%;
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.headerContent .wrapper .headerTitle h1 span {
  display: block;
}

.headerImgContainer {
  width: 55%;
  display: inline-block;
}
.headerImgContainer .headerImg {
  width: 55%;
  position: absolute;
  right: 0;
}

.headerContact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../under-the-sea-assets/contact-header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../under-the-sea-assets/contact-header.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
}
.headerContact h2 {
  text-align: center;
  text-transform: uppercase;
}

.headerBlog {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../under-the-sea-assets/blog-header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../under-the-sea-assets/blog-header.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
}
.headerBlog h2 {
  text-align: center;
  text-transform: uppercase;
}

nav {
  padding: 0 0 70px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.about {
  background-color: #0c1423;
  padding: 170px 0;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper p {
  margin: 30px 0;
  width: 80%;
  text-align: left;
}

.info {
  background-color: #0f614e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.infoTop,
.infoBottom {
  position: relative;
  padding: 30px 0;
}

.infoTop .wrapper,
.infoBottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  gap: 100px;
}

.infoTop .wrapper > *,
.infoBottom .wrapper > * {
  width: 50%;
}

.infoLeftText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.infoRightText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.leftImgContainer,
.rightImgContainer {
  width: 50%;
  background-color: red;
}

.leftImg {
  left: 0;
  bottom: 30px;
  z-index: 10;
  position: absolute;
  width: 43%;
}

.rightImg {
  top: -30px;
  right: 0;
  z-index: 10;
  position: absolute;
  width: 43%;
}

.middleNav {
  background-color: #0c1423;
}
.middleNav .wrapper {
  padding: 80px 0 60px 0;
}
.middleNav .wrapper span {
  background-color: #86e0f9;
  color: #0c1423;
  display: inline-block;
  border-radius: 50%;
  margin-right: 30px;
  text-align: center;
}
.middleNav .wrapper span .fa-solid {
  padding: 10px;
  font-size: 1.2rem;
}
.middleNav .wrapper span .icons {
  padding: 10px 13px;
}

.middleNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}
.middleNav ul li {
  width: calc(50% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.bgImg {
  background-image: url(../under-the-sea-assets/banner.jpg);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profileImgContainer {
  width: 30%;
  background-color: #86e0f9;
}

.profileImg {
  width: 40%;
}

.profile {
  background-color: #0c1423;
}

.profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  gap: 30px;
}

.profileContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.gallery {
  background-color: #0f614e;
}
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 80px 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #86e0f9;
}
footer p {
  color: #0c1423;
  padding: 8px 0;
  margin: 0;
}

.blogTitle {
  position: relative;
}

.blog {
  background-color: #0c1423;
  padding: 80px 0;
}

.blogContent {
  position: relative;
}
.blogContent .rightBlogImg {
  position: absolute;
  width: 57%;
  right: 0;
  top: -300px;
  z-index: 50;
}

.blogContent .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}
.blogContent .wrapper ul {
  list-style: disc;
  padding-left: 1rem;
}

.asideContent {
  width: 35%;
}
.asideContent .asideSpace {
  margin-top: 1rem;
  padding-top: 100%;
  background-color: #0f614e;
  background-size: cover;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.asideContent .asideSpace .asideImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
}
.asideContent aside {
  background-color: #0f614e;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.rightBlogContainer {
  width: 65%;
  margin-top: 230px;
}
.rightBlogContainer article {
  border-left: 2px solid #86e0f9;
  border-bottom: 2px solid #86e0f9;
  position: relative;
  padding: 30px 0 35px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.rightBlogContainer article h3 {
  text-align: left;
}
.rightBlogContainer article::before {
  content: "";
  height: 24rem;
  width: 115%;
  position: absolute;
  background-color: #86e0f9;
  background-size: cover;
  z-index: 10;
  left: -2px;
  top: -480px;
}

.commentsForm {
  padding: 30px;
}
.commentsForm h3 {
  text-align: left;
}

.contactMain {
  background-color: #0c1423;
  padding: 160px 0;
}
.contactMain .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.contactMain .wrapper .contactInfo .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.contactMain .wrapper .contactInfo h4 {
  font-size: 1rem;
  padding: 25px 0;
}
.contactMain .wrapper .contactInfo p {
  margin: 0;
  font-size: 0.8rem;
}
.contactMain .wrapper .contactSpace {
  background-color: #86e0f9;
  padding-top: 20%;
  width: 75%;
  background-size: cover;
  position: relative;
}
.contactMain .wrapper .contactSpace .contactFormBg {
  background-color: #86e0f9;
  padding-top: 70%;
  width: 100%;
  background-size: cover;
  position: absolute;
  bottom: 0;
}