html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Barlow", "Helvetica", sans-serif;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
  overflow-x: hidden;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

h1 {
  line-height: 5.7rem;
  font-size: 6rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  margin: 0;
  margin-top: -20px;
}

h2 {
  font-size: 3.7rem;
  line-height: 4.6rem;
  margin: 0;
}

h3 {
  letter-spacing: 1px;
  font-size: 2.3rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

h4 a:hover {
  color: #86e0f9;
}

h5 a {
  font-size: 1rem;
  line-height: 1.45;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
h5 a:hover, h5 a:focus {
  color: #86e0f9;
}

a:visited,
a:link {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 0.9rem;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

button {
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  letter-spacing: 1px;
  font-family: inherit;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.findOut {
  background-color: #86e0f9;
  color: #0c1423;
  padding: 12px 40px;
}
.findOut:hover, .findOut:focus {
  background-color: rgba(134, 224, 249, 0.7);
}

.readMore {
  background-color: #0c1423;
  color: inherit;
  padding: 12px 30px;
}
.readMore:hover, .readMore:focus {
  background-color: rgba(12, 20, 35, 0.7);
}

.submit {
  background-color: #0c1423;
  color: #ffffff;
  padding: 5px 0;
}
.submit:hover, .submit:focus {
  background-color: rgba(12, 20, 35, 0.7);
}

body {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1600px;
}

.headerHome {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../under-the-sea-assets/header-image.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../under-the-sea-assets/header-image.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 620px;
  width: 100%;
}

.headerContent {
  position: relative;
}
.headerContent .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.headerContent .wrapper .headerTitle {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.headerContent .wrapper .headerTitle h1 span {
  display: block;
}

.headerImgContainer {
  width: 55%;
  display: inline-block;
}
.headerImgContainer .headerImg {
  width: 55%;
  position: absolute;
  right: 0;
}

.headerContact {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../under-the-sea-assets/contact-header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../under-the-sea-assets/contact-header.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  width: 100%;
}
.headerContact h2 {
  text-align: center;
  text-transform: uppercase;
}

.headerBlog {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../under-the-sea-assets/blog-header.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../under-the-sea-assets/blog-header.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 520px;
  width: 100%;
}
.headerBlog h2 {
  text-align: center;
  text-transform: uppercase;
}

nav {
  padding: 0 0 55px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.navBarButton {
  display: none;
}

.navHeaderButton {
  display: none;
}

.about {
  background-color: #0c1423;
  padding: 170px 0;
}
.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .wrapper p {
  margin: 30px 0;
  width: 80%;
  text-align: left;
}

.infoTop .wrapper,
.infoBottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  gap: 100px;
}

.infoTop .wrapper > *,
.infoBottom .wrapper > * {
  width: 50%;
}

.info {
  background-color: #0f614e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.info .infoTop {
  position: relative;
  padding: 25px 0;
}
.info .infoTop .leftImgContainer {
  width: 50%;
}
.info .infoTop .leftImgContainer .leftImg {
  left: 0;
  top: -40px;
  z-index: 20;
  position: absolute;
  width: 44%;
  -webkit-box-shadow: 2rem 2rem #86e0f9;
          box-shadow: 2rem 2rem #86e0f9;
}
.info .infoTop .infoRightText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.info .infoBottom {
  position: relative;
  padding: 25px 0;
}
.info .infoBottom .infoLeftText {
  text-align: right;
}
.info .infoBottom .rightImgContainer {
  width: 50%;
}
.info .infoBottom .rightImgContainer .rightImg {
  bottom: -40px;
  right: 0;
  z-index: 20;
  position: absolute;
  width: 44%;
  -webkit-box-shadow: -2rem 2rem #86e0f9;
          box-shadow: -2rem 2rem #86e0f9;
}
.info .infoBottom .infoLeftText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.middleNav {
  background-color: #0c1423;
}
.middleNav .wrapper {
  padding: 140px 0 60px 0;
}
.middleNav .wrapper span {
  background-color: #86e0f9;
  color: #0c1423;
  display: inline-block;
  border-radius: 50%;
  margin-right: 30px;
  text-align: center;
}
.middleNav .wrapper span .fa-solid {
  padding: 10px;
  font-size: 1.2rem;
}
.middleNav .wrapper span .icons {
  padding: 10px 13px;
}

.middleNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}
.middleNav ul li {
  width: calc(50% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.profile {
  background-color: #0c1423;
}
.profile .bgImg {
  background-image: url(../under-the-sea-assets/banner.jpg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  gap: 40px;
}
.profile .wrapper .profileImgContainer {
  width: 30vh;
  position: relative;
  height: 30vh;
}
.profile .wrapper .profileImgContainer .profileImg {
  width: 85%;
  height: 85%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-box-shadow: 2rem 2rem #86e0f9;
          box-shadow: 2rem 2rem #86e0f9;
}
.profile .wrapper .profileContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.gallery {
  background-color: #0f614e;
}
.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 80px 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #86e0f9;
}
footer p {
  color: #0c1423;
  padding: 8px 0;
  margin: 0;
}

.blogTitle {
  position: relative;
  font-size: 3.9rem;
  line-height: 4.6rem;
  margin: 0;
  text-align: center;
}

.blog {
  background-color: #0c1423;
  padding: 80px 0;
  width: 100%;
}
.blog .submit {
  background-color: #0f614e;
}
.blog .submit:hover, .blog .submit:focus {
  background-color: rgba(15, 97, 78, 0.7);
}

.blogContent {
  position: relative;
}
.blogContent .rightBlogImg {
  position: absolute;
  width: 115%;
  left: 35px;
  bottom: 35px;
  z-index: 20;
  -webkit-box-shadow: -35px 35px #86e0f9;
          box-shadow: -35px 35px #86e0f9;
}

.topRightBlog {
  width: 100%;
  display: block;
  background-color: #86e0f9;
  height: 2px;
  position: relative;
}

.blogContent .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}
.blogContent .wrapper ul {
  list-style: disc;
  padding-left: 1rem;
}

.asideContent {
  width: 35%;
}
.asideContent aside {
  background-color: #0f614e;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.asideContent aside .asideBottom {
  padding-top: 50px;
}
.asideContent aside .asideBottom li a {
  font-family: "Lato";
  padding-bottom: 15px;
  line-height: 2rem;
}
.asideContent aside .asideBottom li a:hover, .asideContent aside .asideBottom li a:focus {
  color: rgba(134, 224, 249, 0.7);
}
.asideContent .asideSpace {
  margin-top: 1.5rem;
  padding-top: 100%;
  background-color: #0f614e;
  background-size: cover;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.asideContent .asideSpace .asideImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
}

.rightBlogContainer {
  width: 65%;
  margin-top: 20%;
  position: relative;
}
.rightBlogContainer article {
  border-left: 2px solid #86e0f9;
  border-bottom: 2px solid #86e0f9;
  position: relative;
  padding: 65px 0 5px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.rightBlogContainer article h3 {
  text-align: left;
}

.commentsForm {
  padding: 40px 25px 25px 25px;
}
.commentsForm .commentsContainer h3 {
  margin-bottom: 60px;
  text-align: left;
}
.commentsForm .commentsContainer .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}
.commentsForm .commentsContainer .comments .commenterImg {
  width: 15%;
}
.commentsForm .commentsContainer .comments .commentNotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  margin-bottom: 60px;
}
.commentsForm .commentsContainer .comments .commentNotes p:nth-child(1) {
  margin: 0;
  line-height: 0.9rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
form span input {
  background-color: transparent;
  width: 50%;
  border: none;
  border-bottom: 1px #86e0f9 solid;
  font-family: "Lato";
  padding: 15px;
}
form textarea {
  background-color: transparent;
  border: 1px #86e0f9 solid;
  margin: 40px 0;
  font-family: "Lato";
}
form ::-webkit-input-placeholder {
  color: #ffffff;
  padding: 15px;
}
form ::-moz-placeholder {
  color: #ffffff;
  padding: 15px;
}
form :-ms-input-placeholder {
  color: #ffffff;
  padding: 15px;
}
form ::-ms-input-placeholder {
  color: #ffffff;
  padding: 15px;
}
form ::placeholder {
  color: #ffffff;
  padding: 15px;
}

.contactTitle {
  font-size: 3.9rem;
  line-height: 4.6rem;
  margin: 0;
  text-align: center;
}

.contactMain {
  background-color: #0c1423;
  padding: 160px 0;
  position: relative;
}
.contactMain .formContainer {
  width: 60%;
  padding-top: 70%;
  padding: 80px 50px 50px 50px;
  background-color: #0f614e;
  position: absolute;
  right: 75px;
  top: -195px;
  z-index: 20;
  -webkit-box-shadow: -1.4rem 1.4rem #86e0f9;
          box-shadow: -1.4rem 1.4rem #86e0f9;
}
.contactMain .wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.contactMain .wrapper .contactInfo .contactIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.contactMain .wrapper .contactInfo h4 {
  font-size: 1rem;
  padding: 25px 0;
}
.contactMain .wrapper .contactInfo p {
  margin: 0;
  font-size: 0.8rem;
}

@media (max-width: 1220px) {
  .contactBreak {
    display: block;
  }
}
@media (max-width: 940px) {
  .middleNav .wrapper {
    padding-top: 60px;
  }

  .contactTitle span {
    display: block;
  }

  .contactMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    padding: 80px 0;
    position: static;
    padding-top: 0;
  }
  .contactMain .formContainer {
    position: static;
    z-index: 40;
    width: 80%;
    margin-bottom: 60px;
    padding: 60px;
  }
  .contactMain .contactSpace {
    display: none;
  }
  .contactMain .contactBreak {
    display: inline;
  }

  form span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form span input {
    width: 100%;
    padding: 15px 5px;
  }
  form textarea {
    margin-top: 70px;
  }
}
/* Tablets and small desktops/laptops 768px */
@media (max-width: 768px) {
  .headerHome .headerImg {
    min-width: 310px;
    bottom: -200px;
  }

  .blogContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogContent .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blogContent .rightBlogContainer article::before {
    display: none;
  }
  .blogContent .rightBlogContainer {
    width: 100%;
    margin-top: 30%;
  }
  .blogContent .rightBlogContainer .commentsForm {
    padding: 40px 0 25px 0;
  }
  .blogContent .rightBlogContainer .commentsForm .commentsContainer {
    padding: 0 10px;
  }
  .blogContent .rightBlogContainer .commentsForm .commentsContainer form {
    width: 100%;
  }
  .blogContent .rightBlogContainer .commentsForm .commentsContainer .comments {
    gap: 18px;
  }
  .blogContent .rightBlogContainer .rightBlogImg {
    -webkit-box-shadow: -0.5rem 0.5rem #86e0f9;
            box-shadow: -0.5rem 0.5rem #86e0f9;
    bottom: 10px;
    left: 10px;
  }
  .blogContent .asideContent {
    width: 100%;
    text-align: center;
  }
  .blogContent .asideContent ul {
    list-style: none;
  }
  .blogContent .asideContent .asideSpace {
    display: none;
  }
}
/* Tablet 640px */
@media (max-width: 640px) {
  .about .wrapper p {
    width: 100%;
    margin: 30px 0;
  }

  .info {
    gap: 280px;
  }
  .info .infoTop {
    padding: 80px 0;
  }
  .info .infoTop .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info .infoTop .wrapper .leftImgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .info .infoTop .wrapper .leftImgContainer .leftImg {
    position: static;
    width: 90%;
    -webkit-box-shadow: 1rem 1rem #86e0f9;
            box-shadow: 1rem 1rem #86e0f9;
  }
  .info .infoBottom .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info .infoBottom .wrapper .rightImgContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .info .infoBottom .wrapper .rightImgContainer .rightImg {
    position: static;
    width: 90%;
    -webkit-box-shadow: -1rem 1rem #86e0f9;
            box-shadow: -1rem 1rem #86e0f9;
  }
  .info .infoTop .wrapper > *,
.info .infoBottom .wrapper > * {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .profile .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0;
  }
  .profile .wrapper .profileContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    width: 100%;
  }

  .middleNav .wrapper {
    padding-top: 180px;
  }
  .middleNav .wrapper ul li {
    width: 100%;
  }

  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery .wrapper {
    width: 100%;
    padding: 0;
    gap: 0;
  }
  .gallery .wrapper div:nth-child(3) {
    display: none;
  }
  .gallery .wrapper div {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .formContainer {
    padding: 20px;
  }
}
/* Mobile devices 480px */
@media (max-width: 480px) {
  .headerHome .headerImg {
    bottom: -270px;
  }

  header {
    padding-top: 60px;
  }
  header h1 {
    font-size: 5rem;
  }

  .about {
    padding-top: 220px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -481px;
    z-index: 50;
    background-color: #0c1423;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    padding: 0 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 480px;
    height: 500px;
  }
  .nav .navBarButton {
    display: block;
    margin-top: 60px;
    cursor: pointer;
    font-size: 2.3rem;
    color: #ffffff;
    background: transparent;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav .navBarButton:hover, .nav .navBarButton:focus {
    color: #86e0f9;
  }
  .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 0;
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .nav ul h5 {
    margin: 0;
  }
  .nav ul h5 a {
    font-size: 2rem;
  }

  .active {
    right: 0;
  }

  .navHeaderButton {
    display: block;
    margin-left: auto;
    background: transparent;
    padding: 0;
    color: #ffffff;
    font-size: 2.6rem;
    margin-bottom: 60px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .navHeaderButton:hover, .navHeaderButton:focus {
    color: #86e0f9;
  }

  .blog h3 {
    font-size: 1.4rem;
  }

  .rightBlogImg {
    z-index: 10;
  }
  .rightBlogImg img {
    z-index: 40;
  }

  .rightBlogContainer article {
    padding: 25px 0 25px 15px;
  }

  .contactMain {
    padding: 40px 0;
  }

  textarea {
    height: 150px;
  }

  .formContainer {
    -webkit-box-shadow: -0.5rem 0.5rem #86e0f9;
            box-shadow: -0.5rem 0.5rem #86e0f9;
  }
}
@media (max-width: 400px) {
  .headerHome h1 {
    font-size: 4.3rem;
    line-height: 4.3rem;
  }

  .about {
    padding-top: 130px;
  }
  .about p {
    margin: 40px 0;
  }
}
/* Mobile devices 320px */